<div class="banner">
    <h2>Welcome, Rebel Scum!</h2>
    <img src="/images/rebel_alliance_logo.jpg">
</div>

<div>
    <p>    
    When you're looking for a wide selection of quality in the galaxy, look no farther than Rebel Alliance New & Used Ships Superstore!  
    Whether you're in the market for an import or domestic brand new or used ship, you'll be sure to find it in our expansive inventory. 
    Visit our dealership to browse quality models from the most popular manufacturers.  
    We know buying a ship is a big deal, and we're here to help you along every step of the way, from the test drive to financing. 
    Our team is staffed with friendly and professional members whose goal is to help you get behind the flight-stick quickly, affordably, and most importantly: happily. 
    That's why we work hard to get you financed, regardless of your credit history. We offer flexible financing options like affordable ship loans and even used ship leasing programs. 
    </p>
</div>